.page {
  font-family: 'Nekst', sans-serif;
  font-weight: 600;
  color: white;
  background-color: #000;

  &::-webkit-scrollbar {
    width: 0;
  }

  &_overflow {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  &_fixed {
    overflow: hidden;
  }

  &__content {
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  &__section {
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
  }
}
